@font-face {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;

}

@font-face {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #ffffff;
    color: #444444;
}

.main container {
    flex-grow: 1;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

h3 {
    color: #000000;
}

h4 {
    color: #000000;
}

header {
    color: #000000;
    background-color: #FFE17F;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    text-transform: capitalize;
    width: 1160px;
    margin: 0 auto;

}

.navigation {
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    font-size: 18px;
    color: #000000;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 17px 60px 0 60px;
    position: relative;
}

.header-link-logo {
    display: block;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-top: 5px;

}

.nav-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.navigation-search-user {
    display: flex;
    align-items: center;
    width: 1040px;
    text-transform: none;
    font-family: "Raleway", sans-serif;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 30px;
    margin-left: 60px;
}

.navigation-main {
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 1040px;
    justify-content: space-between;
}

.navigation-list {
    font-family: "Rubik", sans-serif;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    align-content: center;
}

.navigation-item {
    display: inline-block;
    text-decoration: none;
}

.navigation-login {

    width: 231px;
}

.compare {
    padding-left: 22px;
}

.navigation-basket {
    position: relative;
    padding-left: 25px;

}

.search-form {
    display: flex;
    justify-content: space-between;
    width: 517px;
    height: 40px;
    padding: 0;
    gap: 16px;
    border-radius: 90px;
    border: 2px solid black;
    background-color: transparent;
    margin-right: 0;
}

.search-form-input {
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-style: none;
    padding-left: 48px;
    border-right: 2px solid black;

}

.search-button {
    font-size: 16px;
    padding-left: 56px;
    padding-right: 56px;
    font-family: "Rubik", sans-serif;
    background-color: transparent;
    width: 160px;
    height: 40px;
    gap: 0;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-left: 1px solid black;
    border-style: none;
}

.popover-catalog-list {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    line-height: 16px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;

}

a {
    color: #000000;
    text-decoration: none;
}

.page-container {
    width: 1140px;
    margin: 0 auto;
}

.slides {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.slide-item {
    width: 1111px;
    height: 560px;
    margin-bottom: 250px;
}

.link-more {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.slide-button-container {
    position: absolute;
    width: 100%;
    top: 400px;
    left: 170px;
    display: flex;
    justify-content: space-between;
}

.slide-button-left {
    width: 20px;
    height: 60px;
}

.slide-button-right {
    width: 20px;
    height: 60px;
    top: 60px;
    left: 20px;

}

.slide-button:hover {
    opacity: 0.6;
}

.slide-button:active {
    opacity: 0.3;
}

.slide-button:disabled {
    opacity: 0.1;

}

.slide-button:focus-visible {
    outline-offset: 1px;
}

.slides-page-button {
    display: inline-block;
}

.characteristics-description {
    font-size: 16px;
    font-weight: 400;

}

.slide-image {
    display: block;
    width: 560px;
    height: 547px;
    object-fit: cover;
    object-position: bottom;
}

.characteristics-term {
    font-size: 36px;
    font-weight: 400;
}

.product-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 160px);
    column-gap: 40px;
    row-gap: 20px;
    list-style-type: none;
}

.product-list-link {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 24px;
    font-size: 18px;
    width: 160px;
}

.slides-page-container {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.slides-page-button {
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style-type: none;
}

.services {
    background-color: #F0F0F0;
}

.services-header {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.about-info {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.services-button {
    background-color: #FFE17F;
}

.current {
    background-color: #000000;
    color: #FFE17F;
}

.delivery-offer {
    background-color: #F0F0F0;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 23px;

}

.delivery-offer-text:focus {
    background-color: #F0F0F0;
    border-color: #AF4FFF;
    border-width: 2px;
}

.delivery-offer-text:hover {
    background-color: #DCDCDC;
}

.delivery-offer-text:active {
    background-color: #DCDCDC;
}

.delivery-options-list {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.more-about {
    text-transform: uppercase;
    font-weight: 800;
}

.contact-form {
    text-transform: uppercase;
    font-weight: 800;

}

.subscription {
    background-color: #F0F0F0;
}

.subscribe {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.subscribe-button {
    text-transform: uppercase;
    font-weight: 800;
}

footer {
    background-color: #444444;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

.footer-navigation-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.phone-number {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

address {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header-description {
    background-color: #F0F0F0;
}

.breadcrumbs {
    background-color: #F0F0F0;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
}

.cart-list {
    background-color: #000000;
}

.cart-list-title {
    color: #ffffff;
}

.cart-button {
    background-color: #ffffff;
    color: #000000;
}

.cart-list-image {
    background-color: #ffffff;
}

.filters {
    color: #000000;
    background-color: #F0F0F0;
}

.catalog-image {
    background-color: #F0F0F0;
}

.sort {
    background-color: #F0F0F0;
}

.catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.button-yellow {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.sort-title {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
}

.catalog-item {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.catalog-item-price {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.button {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
}

.pagination {
    background-color: #F0F0F0;
}

.pagination-prev {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
}

.pagination-next {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
}
